extends ./templates/_base.pug

block variables
  - var pageTitle = '173 Best Lifehacks of 2019'

block body
  include ./blocks/button/_button.pug
  include ./blocks/header/_header.pug
  include ./blocks/advantages/_advantages.pug
  include ./blocks/description/_description.pug
  include ./blocks/footer/_footer.pug
  include ./blocks/sprite/_sprite.pug
